.nav-container {
  width: 100%;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  position: fixed;
  z-index: 1;
}

nav {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 5px;
  position: relative;
}

.nav-icons ul {
  margin: 0;
}

.profile-pic {
  border-radius: 50%;
  border: 1px solid #eeeeee;
}

.button-li {
  display: inline;
  padding-left: 11px;
  padding-right: 11px;
  cursor: pointer;
}

.logo {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

.nav-icons,
.search-bar {
  margin: 0;
}

.logo img {
  align-self: left;
  height: 35px;
  width: auto;
}

.nav-button {
  cursor: pointer;
}

#profile-panel,
#notifications-panel {
  position: absolute;
  top: 54px;
  margin: 0;
  padding: 10px;
  padding-top: 5px;
  background-color: #ffffff;
  right: 0;
  border-radius: 0px 0px 5px 5px;
  border: 2px solid #e1e1e1;
  border-top: none;
  text-align: right;
  width: 150px;
}

#notifications-panel {
  text-align: left;
}

.profile-tab-li {
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
